<div class="container user-list-dropdown">
  <div class="row">
    <div class="col-12 d-flex flex-row-reverse">
      <div ngbDropdown class="d-inline-block">
        <button class="btn mx-4" id="dropdownBasic1" ngbDropdownToggle>
          <span *ngIf="memberSelected; else notSelected"> Switch User </span>
          <ng-template #notSelected>
            <span>Select User</span>
          </ng-template>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let member of memberList"
            [routerLink]="[
              '/user',
              'manager',
              'teams',
              teamName,
              member.username
            ]"
            ngbDropdownItem
          >
            {{ member.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="memberName === 'none'" class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Please Select A User</h1>
    </div>
  </div>
</div>
<app-home *ngIf="memberName !== 'none'" [inManagerView]="true"></app-home>
<div class="mx-4">
  <app-status-list
    *ngIf="memberName !== 'none'"
    [inManagerView]="true"
  ></app-status-list>

  <app-alert *ngIf="showAlert" [errorMessage]="alertMessage"></app-alert>
</div>
