<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="heading text-center">Change Password</h2>
          </div>
        </div>
        <form
          class="form-card"
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="oldPassword"
                  formControlName="oldPassword"
                  placeholder="Phone"
                />
                <label for="oldPassword ">Old Password</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  formControlName="newPassword"
                  placeholder="address"
                />
                <label for="newPassword ">New Password</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Phone"
                />
                <label for="confirmPassword ">Confirm New Password</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex flex-row-reverse">
              <button class="btn fw-bold text-uppercase" type="submit">
                Save
              </button>
              <button
                type="button"
                [routerLink]="['/user']"
                class="btn fw-bold text-uppercase"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-alert *ngIf="showAlert" [errorMessage]="alertMessage"></app-alert>
</div>
