<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-11">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="heading h2">Add Team</h2>
        </div>
      </div>
      <hr />
      <form
        [formGroup]="addTeamForm"
        (ngSubmit)="onSubmit()"
        class="form-card mt-4"
      >
        <div class="row d-flex">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInputTeamName"
                    formControlName="teamName"
                    placeholder="Team Name"
                  />
                  <label for="floatingInputTeamName ">Team Name</label>
                </div>
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInputShortName"
                    formControlName="shortName"
                    placeholder="Short Name"
                  />
                  <label for="floatingInputShortName">Short Name</label>
                </div>
                <label for="floatingInputShortName">Description -</label>

                <div class="form-floating">
                  <textarea
                    name="description"
                    id="floatingInputDescription"
                    formControlName="description"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group mx-4 mb-3">
                  <label for="inputStatusFrequency">Status Frequency - </label>

                  <select
                    formControlName="statusFrequency"
                    class="custom-select mx-3"
                    id="inputStatusFrequency"
                  >
                    <option
                      *ngFor="let statusFrequency of statusFrequencyList"
                      [value]="statusFrequency"
                    >
                      {{ statusFrequency }}
                    </option>
                  </select>
                </div>
                <div
                  *ngIf="selectedStatusFrequency === 'weekly'"
                  class="input-group mx-4 mb-3"
                >
                  <label for="inputStatusFrequency">Weekly Status Day - </label>

                  <select
                    formControlName="weeklyStatusDay"
                    class="custom-select mx-3"
                    id="inputStatusFrequency"
                  >
                    <option
                      *ngFor="let weekDay of weekDayList"
                      [value]="weekDay"
                    >
                      {{ weekDay }}
                    </option>
                  </select>
                </div>
                <div class="d-flex mx-4">
                  <label for="inputManagers">Managers - </label>

                  <ng-select
                    id="inputManagers"
                    formControlName="managers"
                    class="mx-3"
                    [items]="userList"
                    bindLabel="name"
                    placeholder="Select "
                    appendTo="body"
                    [multiple]="true"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div id="btn-container" class="col-sm-12">
            <button
              type="button"
              [routerLink]="['/user', 'manager']"
              class="btn btn-save fw-bold text-uppercase"
            >
              Cancel
            </button>
            <button class="btn btn-save fw-bold text-uppercase" type="submit">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <app-alert [errorMessage]="alertMessage" *ngIf="showAlert"></app-alert> -->
</div>
