<div class="container mt-5">
  <div class="row px-4">
    <h3 class="mb-5">Team Members</h3>
    <div class="row mb-4">
      <div class="col-md-3 d-flex">All(21)</div>
    </div>

    <table
      class="
        table table-hover table-borderless table-responsive
        shadow
        card-1
        p-4
      "
    >
      <thead>
        <tr class="border-bottom">
          <th><span class="mx-4">User Name</span></th>
          <th><span class="mx-2">Job Title</span></th>
          <th><span class="mx-2">Team</span></th>
          <th><span class="mx-2">Mobile</span></th>
          <th><span class="mx-2">E-mail</span></th>
          <th><span class="mx-2">Status Notification</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of memberList" class="border-bottom">
          <td>
            <div class="py-2 mx-4">
              <span class="font-weight-bold"> {{ member.name }} </span>
            </div>
          </td>
          <td>
            <div class="py-2 mx-2">
              <span class="font-weight-bold"> {{ member.job_title }} </span>
            </div>
          </td>
          <td>
            <div class="py-2 mx-2">
              <span class="font-weight-bold">{{ member.team }}</span>
            </div>
          </td>
          <td>
            <div class="py-2 mx-2">
              <span class="font-weight-bold">{{ member.phone }}</span>
            </div>
          </td>
          <td>
            <div class="py-2 mx-2">
              <span class="font-weight-bold">{{ member.email }} </span>
            </div>
          </td>
          <td>
            <div class="py-2 mx-2">
              <span class="font-weight-bold">
                {{ member.latest_status_seen ? "Seen" : "New Status" }}
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <app-alert [errorMessage]="alertMessage" *ngIf="showAlert"></app-alert> -->
</div>
