<div class="container mt-5">
  <div class="row px-4">
    <h3 class="mb-5">Team Members</h3>
    <div class="row mb-3">
      <div class="col-9 d-flex">
        <input
          type="button"
          class="option-btn mx-2"
          name="allMembers"
          value="All"
          [routerLink]="['/user', 'manager', 'teams', 'All']"
          routerLinkActive="active"
        />
        <input
          *ngFor="let team of teamsList; let i = index"
          type="button"
          class="option-btn mx-2"
          [name]="i"
          [routerLink]="['/user', 'manager', 'teams', team.team_short_name]"
          routerLinkActive="active"
          [value]="team.team_short_name"
        />
      </div>
      <div class="col-3 d-flex flex-row-reverse">
        <input
          *ngIf="role === 'admin'"
          type="button"
          class="option-btn"
          name="addUser"
          (click)="openModal(content)"
          value="Invite User"
        />
      </div>
    </div>
    <app-table [columns]="tableColumns" [data]="tableData"></app-table>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Invite User</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-user [closeModal]="modal.dismiss"></app-add-user>
      </div>
    </ng-template>
  </div>

  <app-alert [errorMessage]="alertMessage" *ngIf="showAlert"></app-alert>
</div>
