<div class="m-5">
  <div class="container-fluid mt-4 shadow p-4 rounded">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 mb-4">
        <button
          type="button"
          class="arrow-btn"
          name="filterStatusListDefault"
          [routerLink]="['/user', 'status']"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="col-lg-10 col-md-10 d-flex flex-row-reverse">
        <button
          type="button"
          class="arrow-btn"
          name="filterStatusListDefault"
          (click)="navigateStatus('next')"
          title="Next"
        >
          <i class="fa fa-arrow-right"></i>
        </button>
        <button
          type="button"
          class="arrow-btn"
          name="filterStatusListDefault"
          (click)="navigateStatus('prev')"
          title="Previous"
        >
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>

      <div class="col-lg-11 col-md-11">
        <div class="row justify-content-center">
          <div class="col-9">
            <h2 class="heading h2">{{ status.title }}</h2>
            <h3 class="heading h6 fw-normal">{{ status.submit_time_stamp }}</h3>
          </div>
          <div class="col-3">
            <p class="heading mt-5">ID : {{ status.status_id }}</p>
          </div>
        </div>
        <hr />

        <div class="row d-flex">
          <div class="col-7">
            <h4 class="mb-3">Accomplishments Done :</h4>
            <div id="taskDone"></div>
          </div>
          <div class="col-5">
            <div>
              <h4 class="mb-3">Plans for next week :</h4>
              <div id="nextWeekPlan"></div>
            </div>
            <hr />
            <div>
              <h4 class="mb-3">Concerns/Risks/Important topic:</h4>
              <div id="risk"></div>
            </div>
          </div>
        </div>
        <div
          *ngIf="status.managerial_remarks && !isManager"
          class="row d-flex mt-3"
        >
          <hr />
          <div class="col-12">
            <h4 class="mb-3">Remarks :</h4>
            <div>
              {{ status.managerial_remarks }}
            </div>
          </div>
        </div>
        <div *ngIf="isManager" class="row d-flex mt-3">
          <hr />
          <div class="col-12">
            <form
              [formGroup]="remarkForm"
              (ngSubmit)="onSubmit()"
              class="form-card mt-1"
            >
              <label for="floatingInputShortName" class="h5">Remarks :</label>

              <div class="form-floating">
                <textarea
                  name="remarks"
                  id="floatingInputRemarks"
                  cols="30"
                  rows="5"
                  formControlName="remark"
                ></textarea>
              </div>
              <div class="row mt-1">
                <div
                  id="btn-container"
                  class="col-sm-12 d-flex flex-row-reverse"
                >
                  <button
                    class="btn btn-save fw-bold text-uppercase"
                    type="submit"
                  >
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn btn-save fw-bold text-uppercase"
                    [routerLink]="[
                      '/user',
                      'manager',
                      'teams',
                      teamName,
                      username
                    ]"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-alert [errorMessage]="alertMessage" *ngIf="showAlert"></app-alert> -->
  </div>
</div>
