textarea {
  padding: 10px 15px 0px 15px;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: arial;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

textarea:focus {
  box-shadow: 0px 0px 0px 1.5px #acacac !important;
  outline-width: 0;
}

.input-group {
  position: relative;
  width: 100%;
  overflow: hidden;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  background-clip: text;
}
.btn {
  margin-left: 20px;
  padding: 13px 20px 12px;
  background-color: #ef4223;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}
.btn:hover {
  border: 1px solid #ef4223;
  background-color: transparent;
  color: #ef4223;
}

.arrow-btn {
  border: none;
  border-radius: 1.5rem;
  width: 60%;
  margin-left: 8px;
  max-width: 48px;
  max-height: 39px;
  font-size: 1.2rem;
  color: #6c757d;
  padding-bottom: 5px;
  cursor: pointer;
}
.arrow-btn:hover {
  color: black;
}
