<form [formGroup]="inviteUserForm" (ngSubmit)="onSubmit()" class="form-card">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInputFirstName"
          placeholder="Username"
          formControlName="username"
        />
        <label for="floatingInputFirstName ">Username</label>
      </div>
      <div class="form-floating mb-3">
        <select
          class="form-control"
          formControlName="job"
          id="inputGroupSelect01"
        >
          <option value="">Select a Job</option>
          <option *ngFor="let job of jobPositions" [value]="job">
            {{ job }}
          </option>
        </select>
      </div>
      <div class="form-floating mb-3">
        <select
          (click)="loadManagers()"
          class="form-control"
          id="inputGroupSelect02"
          formControlName="manager"
        >
          <option value="">Select a Manager</option>
          <option *ngFor="let manager of managers" [value]="manager">
            {{ manager }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputMiddleName"
          placeholder="Email"
          formControlName="email"
        />
        <label for="floatingInputMiddleName ">Email</label>
      </div>
      <div class="form-floating mb-3">
        <select
          formControlName="team"
          class="form-control"
          id="inputGroupSelect02"
        >
          <option value="">Select a Team</option>
          <option *ngFor="let team of teams" [value]="team.team_short_name">
            {{ team.team_name }}

            ({{ team.team_short_name }})
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 d-flex flex-row-reverse">
      <button class="btn fw-bold text-uppercase" type="submit">Save</button>
      <button
        (click)="closeModal()"
        class="btn fw-bold text-uppercase"
        type="button"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
